<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HealthHack1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DoRegistration</display-name>
    <servlet-name>DoRegistration</servlet-name>
    <servlet-class>in.health.controllers.DoRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegistration</servlet-name>
    <url-pattern>/DoRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostOpinion</display-name>
    <servlet-name>PostOpinion</servlet-name>
    <servlet-class>in.health.controllers.PostOpinion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostOpinion</servlet-name>
    <url-pattern>/PostOpinion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostSolution</display-name>
    <servlet-name>PostSolution</servlet-name>
    <servlet-class>in.health.controllers.PostSolution</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostSolution</servlet-name>
    <url-pattern>/PostSolution</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostFeedback</display-name>
    <servlet-name>PostFeedback</servlet-name>
    <servlet-class>in.health.controllers.PostFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostFeedback</servlet-name>
    <url-pattern>/PostFeedback</url-pattern>
  </servlet-mapping>
</web-app>